/* CSS du fichier user/profile.html.twig */
@import url('https://fonts.googleapis.com/css?family=Poppins:300, 400, 500, 600, 700, 800, 900 &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
}

body {
    background-image: url('https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/movies/36/9c3533c613349257.jpg');
}

#tout {
    background-color: rgba(0, 0, 0, 0.534);
    height: fit-content;
    padding-bottom: 2%;
}

header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(black 10%, transparent);
}

header * {
    margin: 2%;
}

header .title {
    color: #f44336;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
    letter-spacing: 4px;
    text-shadow: 5px 3px 10px rgb(0, 0, 0);
    text-decoration: none;
}

#titre {
    font-family: 'Concert One', cursive;
    font-size: 4vw;
    text-shadow: 5px 3px 10px rgb(0, 0, 0);
    text-decoration: bold;
}

.infos-utilisateur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30% 2%;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 50px;
}

.checkbox {
    display: flex;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos-utilisateur * {
    margin: 5%;
}

.compte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

.formulaire * {
    margin: 2%;
}

.submit {
    display: flex;
}

input,
select {
    color: black;
}

.info p.label {
    text-decoration: underline;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 50px;
}

.contenu * {
    margin: 1% 1% 0;
}

#ratings,
#series,
#users,
#episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% 0;
}

.rating,
.serie,
.user,
.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2%;
}

.serie img {
    height: 400px;
}

button,
.bouton {
    background-color: #f44336;
    border: none;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button {
    background-color: #37cf51;
}

.stop {
    margin-top: 8.5%;
    height: 43px;
}

.navigation {
    text-align: center;
}

.navigation * * {
    background-color: #f44336;
    border: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.5vh;
    border-radius: 4px;
    cursor: pointer;
}


/*téléphone en portrait*/
@media screen and (min-width: 340px) and (orientation: portrait) {
    .infos-utilisateur {
        flex-direction: column;
        margin-right: 20%;
        margin-left: 20%;
    }

    .avatar {
        width: 300px;
        height: 300px;
    }

    .compte {
        width: 100%;
    }

    .resume,
    h2,
    h3 {
        font-size: 3em;
    }

    .info,
    .contenu p {
        font-size: 2em;
    }

    .bouton {
        font-size: 30px;
        border-radius: 15px;
    }

    .contenu * {
        margin: 2% 2% 0;
    }

    .serie img {
        height: 800px;
    }
}