/* CSS du fichier series/show.html.twig */
@import url('https://fonts.googleapis.com/css?family=Poppins:300, 400, 500, 600, 700, 800, 900 &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	color: white;
}

body {
	background-image: url('https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/movies/36/9c3533c613349257.jpg');
}

#tout {
	background-color: rgba(0, 0, 0, 0.534);
	height: 100%;
	padding-bottom: 2%;
}

header {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(black 10%, transparent);
}

header * {
	margin: 2%;
}

header .title {
	color: #f44336;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3vw;
	letter-spacing: 4px;
	text-shadow: 5px 3px 10px rgb(0, 0, 0);
	text-decoration: none;
}


#titre {
	font-family: 'Concert One', cursive;
	font-size: 4vw;
	text-shadow: 5px 3px 10px rgb(0, 0, 0);
	text-decoration: bold;
}

#content {
	display: flex;
	justify-content: space-between;
	padding: 2%;
	background-color: rgba(0, 0, 0, 0.63);
}

.titre-favoris {
	display: flex;
	align-items: center;
}

.titre-favoris p {
	margin-right: 2%;
}

.titre-favoris a {
	margin-top: 3%;
}

#partGauche {
	width: 50%;
	margin-left: 5%;
}

#partDroite {
	margin-right: 5%;
	width: 30%;
}

#bouton {
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

#bouton a {
	background-color: #f44336;
	border: none;
	color: black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-size: 16px;
	border-radius: 4px;
	margin-right: 10%;
	cursor: pointer;
}

button {
	background-color: #f44336;
	border: none;
	color: black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 1.2vh;
	border-radius: 4px;
	margin: 2% 0%;
	cursor: pointer;
}

/* Commentaire */

.review_user {
	background-color: #424242;
	padding: 2%;
	display: flex;
	border-radius: 10px;
	margin-top: 2%;

}

.profil {
	display: flex;
	flex-direction: column;
}

.rate_part {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

/* Episode */
.rate,
.review_user,
.modfier,
.supprimer,
select,
input {
	color: black;
}

option {
	color: black;
}

#affichageEpisode * {
	position: absolute;
	left: 40px;
	top: 30px;
}

.seasonEpisode {
	display: none;
}

#pourcentageEpisodeVu {
	display: flex;
	font-size: 20px;
	align-items: center;
}

#pourcentageEpisodeVu p {
	padding: 2%;
}

#pourcentageEpisodes {
	background-color: #f44336;
	border-radius: 100%;
	color: black;
}

.navigation * * {
	background-color: #f44336;
	border: none;
	color: black;
	padding: 0.5% 1%;
	text-decoration: none;
	font-size: 1.5vh;
	border-radius: 4px;
	cursor: pointer;
	margin: 2% 0.5%;
}

/*téléphone en portrait*/
@media screen and (min-width: 340px) and (orientation: portrait) {
	header .title {
		font-size: 8vh;
	}

	#titre {
		font-size: 8vw;
	}

	#content {
		display: block;
		justify-content: left;
	}

	#bouton a {
		font-size: 1.5em;
	}

	#partGauche {
		font-size: 1.8em;
		width: 90%;

	}

	#partDroite {
		font-size: 1.8em;
		margin-top: 2%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 35%;
	}

	#season {
		width: 200px;
		height: 40px;
	}

	#season select {
		font-size: 1.5em;
	}

	#pourcentageEpisodeVu {
		font-size: 1.5em;
	}
}

/*téléphone landscape*/
@media screen and (min-width: 340px) and (min-height:200px) and (max-height:500px) and (orientation: landscape) {
	#content {
		display: block;
		justify-content: left;
	}
}

/*tablette portrait*/
@media screen and (min-width: 500px) and (orientation: portrait) {
	#content {
		display: block;
		justify-content: left;
	}
}


/*tablette landscape*/
@media screen and (min-width: 800px) and (max-width:1000px)and (orientation: landscape) {
	#content {
		display: block;
		justify-content: left;
	}
}