/* CSS du fichier security/login.html.twig*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	color: white;
	margin: 0;
}

body {
	background-image: url('https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/movies/36/9c3533c613349257.jpg');
}

#tout {
	background-color: rgba(0, 0, 0, 0.534);
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(black 10%, transparent);
}

header * {
	margin: 2%;
}

header a {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3vw;
	font-style: bold;
	letter-spacing: 4px;
	color: #f44336;
	text-shadow: 5px 3px 10px rgb(0, 0, 0);
	text-decoration: none;
}

#id a {
	font-family: 'Poppins', sans-serif;
	font-size: 0.8em;
	letter-spacing: 0px;
}

#c {
	display: flex;
	justify-content: center;
}

#connection {
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.63);
	display: flex;
	width: 400px;
	height: fit-content;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2%;
}

#connection * {
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;

}

input {
	color: black;
}

.btn {
	background-color: #f44336;
	border: none;
	color: black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-size: 16px;
	border-radius: 4px;
	margin-right: 10%;
	cursor: pointer;
}

/*téléphone en portrait*/
@media screen and (min-width: 340px) and (orientation: portrait) {

	header {
		font-size: 1.5vh;
	}
	header a{
		font-size: 10vw;
	}

	#connection {
		width: 700px;
		font-size: 1.8vh;
		padding: 5% 0;
	}

	.btn {
		height: 4vh;
		font-size: 2vh;
	}

	input {
		height: 2vh;
	}
}

/*téléphone landscape*/
@media screen and (min-width: 340px) and (min-height:200px) and (max-height:500px) and (orientation: landscape) {

	#tout {
		width: 200%;
		height: 100vw;
	}

	header a {
		font-size: 7vw;
	}

	#connection {
		width: 700px;
		font-size: 5vh;
		padding: 5% 0;
	}

	.btn {
		font-size: 5vh;
	}

	input {
		height: 5vh;
	}

	input * {
		font-size: 6vh;
	}
}

/*tablette */
@media screen and (min-width: 500px) and (orientation: portrait) {

	header {
		justify-content: left;
	}

	header a {
		font-size: 6vh;
		margin-left: 2%;
	}
}