{% extends 'base.html.twig' %}

{% block title %}
  Netflop France - Accueil
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="style/styleIndex.css" />
{% endblock %}

{% block body %}
  <div id="tout">
    <header>
      <a href="{{ path('app_default') }}" class="title">Netflop</a>
      <div id="id">
        {% include 'header.html.twig' %}
      </div>
    </header>
    <div id="content">
      <h1>Quelques séries de notre catalogue:</h1>
      <ul>
          {% for serie in series %}
            <li>{{ serie.displayPoster() }}</li>
          {% endfor %}
      </ul>
      <div id="button">
        <a href="{{ path('app_series_index') }}"><input name="series" type="submit" value="Voir le catalogue" /></a>
      </div>
    </div>
  </div>
{% endblock %}
