{% extends 'base.html.twig' %} 

{% block title %} 
Netflop France - Accueil 
{% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="style/styleSuspended.css" />
{% endblock %} 

{% block body %}
<div id="tout">
  <header>
    <a href="{{ path('app_default') }}" class="title">Netflop</a>
  </header>
  <div id="contenu">
    <content>
      <h1>Vous avez été suspendu</h1>
      <p>Veillez contacter l'administrateur du site pour plus d'informations</p>
      <a href="{{ path('app_logout') }}">
        <button type="button" class="btn btn-primary">
          Se déconnecter
        </button>
      </a>
    </content>
  </div>
</div>
{% endblock %}